<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: lightgreen;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        {% if not user.is_authenticated %}
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a href="{% url 'register' %}" type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </a>
        </p>
        {% else %}
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">This website is powered by Python!</span>
        </p>
        {% endif %}
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2018-2021 Copyright:
      <a class="text-white" href="https://web.facebook.com/nursinghomecamillusmedhaven" target="_blank">Camillus MedHaven Nursing Home. </a>All rights reserved. 
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>