{% load static %}
<!-- Navbar -->
    {% include 'core/includes/navbar.html' %}
  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url({% static "img/banner.jpg" %});
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">St. Camillus MedHaven Nursing Home</h1>
          <h4 class="mb-3">"Your Home with a Heart"</h4>
          {% if not request.user.is_authenticated %}
          <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}" role="button"
            >Sign In</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">{{ title }}</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>