<h3>Our Services</h3>  
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link{% if title == 'Home' %} active{% endif %}" href="{% url 'cm_portal:index' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if title == 'Admissions' or title == 'Admission Detail' %} active{% endif %}" href="{% url 'geriatrics:admissions' %}">Geriatrics</a>
  </li>    
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Health Declaration and Swab Test Results</a>
  </li>    
  </ul>
<hr>
