{% extends 'cm_portal/base.html' %}
{% load static %}

{% block title %}CMPortal V2 | {{ title }}{% endblock %}

{% block header %}
  {% include 'cm_portal/includes/header.html' %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center p-2">
      <p>CMPortal V2 is a web app developed by Camillus MedHaven Nursing Home</p>
      <p>especially designed to provide a digital solution for data such as</p>
      <p>resident admissions, medications and plan of care for easy tracking and</p>
      <p>portability of information.</p> 
      <p>It also plans to provide other services such as a central supplies database</p>
      <p>for easy tracking of inventory and a human resource information system</p>
      <p>as an online solution for data entry, data tracking,</p>
      <p>and data information needs of the Human Resources,</p>
      <p>payroll, management, and accounting functions within a business.</p>  
    </div>
  </div> 
{% endblock %}