{% extends 'cm_portal/base.html' %}
{% load static %}

{% block title %}CMPortal V2 | {{ title }}{% endblock %}

{% block header %}
  {% include 'cm_portal/includes/header1.html' %}
{% endblock %}

{% block content %}  
<div class="col-lg-12">
  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Camillus MedHaven Nursing Home
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        Camillus MedHaven Nursing Home is a Philippine-based nursing home that
        provides resident-oriented, long-term full-time care; rehabilitative therapies;
        and adult daycare services to seniors who need post-hospital or post-operative
        medical attention, whose families are not equipped to give the
        attention they require. Conveniently located in Marikina City, Camillus
        MedHaven is one of the elderly care nursing homes near Cainta, Antipolo,
        Taytay, Angono, and Montalban.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Our Mission
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>We commit ourselves to care for our stakeholders with Heart in our Hands by:</p>
      <p>Accompanying and serving with compassion and competence</p>
      <p>Respecting human dignity and individuality</p>
      <p>And upholding excellence in all services</p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Our Vision
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>Camillus Medhaven,</p>
      <p>a Camillian Healthcare institution,</p>
      <p>envisions to provide</p>
      <p>a home,</p>
      <p>a nurturing community</p>
      <p>and</p>
      <p>a center of excellence</p>
      <p>for holistic care</p>
      <p>of the elderly</p>
      <p>and persons in need</p>
      <p>of convalescent</p>
      <p>and palliative care.</p>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#flush-collapseFour"
        aria-expanded="false"
        aria-controls="flush-collapseFour"
      >
        Our Services
      </button>
    </h2>
    <div
      id="flush-collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingFour"
      data-mdb-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <div class="list-group">
        <a href="{% url 'geriatrics:admissions' %}" class="list-group-item list-group-item-action">
          <i class="fas fa-hand-holding-heart"></i> Geriatrics
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <i class="fas fa-temperature-high"></i> Health Declaration and Swab Test Results
        </a>
	<a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">
          <i class="fas fa-user-friends"></i> St. Camillus MedHaven Admin
        </a>
      </div>
      </div>
    </div>
  </div>

</div>      
</div> 
 
{% endblock %}
